apiVersion: v1
kind: ConfigMap
metadata:
  name: kong-values
  namespace: kong
data:
  values.yaml: |
    env:
      database: "off"

    proxy:
      type: NodePort
      http:
        enabled: true
        servicePort: 80
        containerPort: 8000
      stream:
        enabled: true
        ports:
          - name: tcp-audio
            containerPort: 9000
            servicePort: 9000
            protocol: TCP

    ingressController:
      enabled: true
      ingressClass: kong
      admissionWebhook:
        enabled: false

    autoscaling:
      enabled: true
      minReplicas: 1
      maxReplicas: 1

    resources:
      limits:
        cpu: 500m
        memory: 512Mi
