apiVersion: v1
kind: ConfigMap
metadata:
  name: kong-values
  namespace: kong
data:
  values.yaml: |
    env:
      database: "off"

    proxy:
      type: NodePort
      http:
        enabled: true

    ingressController:
      enabled: true
      ingressClass: kong
      admissionWebhook:
        enabled: false

    autoscaling:
      enabled: true
      minReplicas: 1
      maxReplicas: 1

    resources:
      limits:
        cpu: 500m
        memory: 512Mi
