apiVersion: kustomize.config.k8s.io/v1beta1 
kind: Kustomization
resources:
  - gotk-components.yaml
  - gotk-sync.yaml
  - namespace-kustomization.yaml
  - kong-kustomization.yaml
  - echo-server-kustomization.yaml